.Pokemon{
    text-align: center;
    background-color: rgb(51, 14, 51);
    background-size: cover;
  }
  
  
  .pokegallery{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: space-between;
      margin: 100px;
  }
  
  .card{
    width: 15rem;
    height: 15rem;
    background-color:#F0F0C9;
    margin: 40px;
    border-radius: 5px;
    text-decoration: none;
  box-shadow: 6px 10px 5px 0px rgba(199,197,199,0.75);
  }

  .box {
    text-align: center;
    background-image: url(../assets/prueba.jpg);
  }