.App {
  text-align: center;
}

.pokedex {
  background-color: #2c3484;
}

h2 {
  color: #f42c2c;
}

.details {
  margin-top: 20px;
  font-size: 1.5em;
  color: #2c3484;
}

.detail-img {
  border-bottom: 1px solid black;
}

.background {
  color: lightcyan;
  background-color: #2c3484;

}